@font-face {
  font-family: 'k-icon';
  src: url('../fonts/icons//k-icon.eot?fow6y1');
  src: url('../fonts/icons//k-icon.eot?fow6y1#iefix') format('embedded-opentype'), url('../fonts/icons//k-icon.ttf?fow6y1') format('truetype'), url('../fonts/icons//k-icon.woff?fow6y1') format('woff'), url('../fonts/icons//k-icon.svg?fow6y1#k-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'k-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-star-fill:before {
  content: "\e90e";
}
.icon-star-o:before {
  content: "\e90f";
}
.icon-chevron-down:before {
  content: "\e90a";
}
.icon-chevron-left:before {
  content: "\e90b";
}
.icon-chevron-right:before {
  content: "\e90c";
}
.icon-chevron-up:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e902";
}
.icon-map-pin:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-shopping-cart:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e908";
}
.icon-x:before {
  content: "\e910";
}
.icon-youtube:before {
  content: "\e909";
}
.data-transform {
  color: #ffffff;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  position: relative;
  overflow: hidden;
}
.data-transform .content-txt {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.data-transform .content-txt:before {
  position: absolute;
  top: 100%;
  left: 0;
  content: attr(data-hover);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.data-transform:hover .content-txt,
.data-transform:focus .content-txt {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.slick-slider .slick-arrow::before {
  font-family: "k-icon";
  color: #444444;
}
.slick-slider .slick-arrow.slick-prev {
  left: 0;
}
.slick-slider .slick-arrow.slick-prev:before {
  content: "\e90b";
}
.slick-slider .slick-arrow.slick-next {
  right: 0;
}
.slick-slider .slick-arrow.slick-next:before {
  content: "\e90c";
}
@font-face {
  font-family: 'BankGothic';
  src: url('../fonts/BankGothic.eot');
  src: url('../fonts/BankGothic.eot?#iefix') format('embedded-opentype'), url('../fonts/BankGothic.svg#BankGothic') format('svg'), url('../fonts/BankGothic.ttf') format('truetype'), url('../fonts/BankGothic.woff') format('woff'), url('../fonts/BankGothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus {
  outline: none;
}
img {
  max-width: 100%;
  display: block;
}
body {
  background: #ffffff;
  font-size: 14px;
  overflow-x: hidden;
  font-family: 'Jost', 'Roboto', sans-serif;
}
button {
  cursor: pointer;
  font-weight: 500;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  color: #E10000;
}
.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.container-md {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  background: #E10000;
  width: 100px;
  height: 70px;
  text-align: center;
}
.logo .brand-name {
  padding-top: 10px;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}
.sidebar {
  width: 300px;
  position: fixed;
  background: #ffffff;
  top: 0;
  bottom: 0;
  right: -100%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
  overflow-y: auto;
  padding: 20px;
}
.sidebar ul {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  padding: 50px 0;
}
.sidebar ul li {
  margin: 10px 0;
}
.sidebar ul + ul {
  border-top: 1px solid #DDDDDD;
}
.sidebar .side-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sidebar .side-close i {
  font-size: 20px;
}
.sidebar-opened {
  overflow: hidden;
}
.sidebar-opened .sidebar {
  right: 0;
}
.page-header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-header .navigation {
  max-width: 60%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}
.page-header .navigation .nav-link {
  color: #444444;
  font-size: 14px;
  text-decoration: none;
  display: block;
}
.page-header .navigation .nav-link .cat-image {
  margin-bottom: 5px;
}
.page-header .navigation .nav-link .content-txt {
  color: inherit;
}
.page-header .navigation .nav-link:hover {
  color: #E10000;
}
.page-header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}
.page-header .icons-sec {
  max-width: 150px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}
.page-header .icons-sec ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}
.page-header .icons-sec span {
  color: #444444;
  font-size: 20px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.footer-wrapper {
  background: #333333;
}
.footer-wrapper .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}
.footer-wrapper a {
  color: #BBBBBB;
  text-decoration: none;
  font-size: 14px;
}
.footer-wrapper a:hover {
  color: #E10000;
}
.footer-wrapper .footer-sec {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333333%;
          flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.footer-wrapper .footer-links li + li {
  margin-top: 20px;
}
.footer-wrapper .address-info .heading {
  color: #DDDDDD;
  margin-bottom: 15px;
  font-weight: 500;
}
.footer-wrapper .address-info address {
  color: #BBBBBB;
  font-style: normal;
  line-height: 25px;
}
.footer-wrapper .contact-info {
  margin-top: 30px;
}
.footer-wrapper .contact-info a {
  display: block;
}
.footer-wrapper .contact-info a i {
  margin-right: 10px;
}
.footer-wrapper .contact-info a + a {
  margin-top: 20px;
}
.footer-wrapper .logo {
  margin: 0 auto;
}
.footer-wrapper .social-links-wrap {
  margin-top: 30px;
  text-align: center;
}
.footer-wrapper .social-links-wrap .heading {
  margin-bottom: 20px;
  font-size: 14px;
  color: #DDDDDD;
  font-weight: 500;
}
.footer-wrapper .social-links-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-wrapper .social-links-wrap ul li + li {
  margin-left: 15px;
}
.footer-wrapper .social-links-wrap ul li a {
  width: 30px;
  height: 30px;
  background: #BBBBBB;
  display: inline-block;
  border-radius: 50%;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-wrapper .social-links-wrap ul li a span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}
.banner-blk {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.banner-blk .banner-pos {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30%;
}
.banner-blk .btn {
  background: #E10000;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  padding: 20px 40px;
  display: inline-block;
}
.banner-blk .banner-content-blk {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
.banner-blk .content-info {
  display: inline-block;
  margin-bottom: 100px;
}
.banner-blk .content-info p {
  font-size: 20px;
  color: #444444;
  background: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 10px 20px;
}
.banner-blk .content-info p span {
  color: #E10000;
}
.banner-blk .content-info p + p {
  margin-top: 20px;
}
.latest-collections {
  margin: 50px 0;
  overflow: hidden;
}
.latest-collections .slick-slider .slick-list {
  overflow: visible;
}
.latest-collections .slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.latest-collections .heading {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
.latest-collections .heading:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #DDDDDD;
  left: 0;
  right: 0;
  top: 50%;
}
.latest-collections .heading-title {
  position: relative;
  font-size: 20px;
  background: #ffffff;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}
.latest-collections .product-item {
  text-align: center;
  padding: 10px 5px;
}
.latest-collections .product-item-info {
  background: #ffffff;
}
.latest-collections .product-item .product-name a {
  font-size: 14px;
  margin: 10px 0;
  display: block;
}
.latest-collections .product-item .product-image img {
  width: 100%;
}
.latest-collections .product-item .product-price {
  color: #E10000;
}
.newsletter-wrapper {
  min-height: 360px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.newsletter-wrapper:before {
  content: '';
  background: rgba(51, 51, 51, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.newsletter-wrapper .inner-wrap {
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.newsletter-wrapper .heading .title {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.newsletter-wrapper .heading .sub-heading {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 30px;
}
.newsletter-wrapper .fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
}
.newsletter-wrapper .field {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  max-width: 360px;
}
.newsletter-wrapper input {
  height: 40px;
  border: none;
  background: #ffffff;
  width: 100%;
  padding: 10px 20px;
}
.newsletter-wrapper .btn {
  background: #E10000;
  color: #ffffff;
  padding: 12px 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 125px;
          flex: 0 0 125px;
  max-width: 125px;
  border: none;
  text-transform: uppercase;
}
.promo-banner-wrapper .content-info p:empty {
  display: none;
}
.promo-banner-wrapper .promo-banner-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}
.promo-banner-wrapper .promo-banner-inner > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
}
.promo-banner-wrapper .promo-banner-inner .promo-banner-blk {
  position: relative;
}
.promo-banner-wrapper .promo-banner-inner .promo-banner-blk img {
  width: 100%;
}
.promo-banner-wrapper .promo-banner-inner .promo-banner-blk .banner-content-blk {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}
.promo-banner-wrapper .promo-banner-inner .promo-banner-group .promo-banner-blk + .promo-banner-blk {
  padding-top: 10px;
}
.promo-banner-wrapper .promo-banner-inner .content-info {
  display: inline-block;
}
.promo-banner-wrapper .promo-banner-inner .content-info p {
  font-size: 20px;
  color: #444444;
  background: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 10px 20px;
}
.promo-banner-wrapper .promo-banner-inner .content-info p span {
  color: #E10000;
}
.promo-banner-wrapper .promo-banner-inner .content-info p + p {
  margin-top: 20px;
}
.reviews-section {
  background: #F9F9F9;
  padding: 50px 40px;
}
.reviews-section .heading {
  text-align: center;
  margin-bottom: 30px;
}
.reviews-section .heading .heading-title {
  display: inline-block;
  font-size: 24px;
  color: #333333;
  text-transform: uppercase;
  font-family: 'BankGothic';
}
.reviews-section .review-item {
  padding: 30px;
}
.reviews-section .review-item-info {
  background: #ffffff;
  padding: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews-section .review-item .reviews-content {
  margin-top: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #707070;
  font-style: italic;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.reviews-section .review-item .reviews-author-name {
  color: #404040;
}
.reviews-section .review-item .ratings .icon-star-fill {
  color: #FDC02F;
}
.reviews-section .review-item .reviews-author-img {
  position: absolute;
  left: -20px;
  top: -20px;
}
@media screen and (min-width: 776px) {
  .page-header .icons-sec {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .page-header .navigation .cat-image {
    display: none;
  }
  .banner-blk {
    min-height: 680px;
  }
}
@media screen and (max-width: 992px) {
  .page-header .icons-sec {
    max-width: 120px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
  }
  .page-header .icons-sec span {
    font-size: 16px;
  }
}
@media screen and (max-width: 775px) {
  .page-header .navigation {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 10px 0;
  }
  .page-header .navigation .nav-link {
    text-align: center;
  }
  .page-header .navigation .nav-link .cat-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #DDDDDD;
    overflow: hidden;
    margin: 0 auto 5px;
  }
  .page-header .navigation .nav-link .cat-image img {
    margin: 0 auto;
  }
  .page-header .navigation .nav-link:hover .cat-image {
    border-color: #E10000;
  }
  .page-header .navigation .nav-link:hover .content-txt {
    -webkit-transform: none;
            transform: none;
  }
  .page-header .navigation .nav-link .content-txt:before {
    display: none;
  }
  .banner-blk {
    min-height: 642px;
  }
  .footer-wrapper .footer-sec {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .footer-wrapper .footer-sec + .footer-sec {
    margin-top: 40px;
  }
  .latest-collections .slick-slider {
    overflow: visible;
  }
  .promo-banner-wrapper .promo-banner-inner > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .newsletter-wrapper {
    min-height: 420px;
  }
  .newsletter-wrapper .inner-wrap {
    padding: 0 15px;
  }
  .newsletter-wrapper .field,
  .newsletter-wrapper .btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .newsletter-wrapper .field {
    margin-bottom: 20px;
  }
  .reviews-section {
    padding: 50px 0px;
  }
  .reviews-section .review-item {
    padding: 30px 20px;
  }
}
